@model CourseViewModel
@{
    
}
<div class="row">
    <div class="col-md-9">
        <div class="card">
            <img src="@Model.StockPictureUrl" class="card-img"></img>
            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>
                <span class="badge bg-primary">@Model.Category.Name</span>
                <p class="card-text">@Model.Description</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Fiyat: @Model.Price $</h5>
                <div class="d-grid gap-1">
                    <a asp-area="" asp-controller="Baskets" asp-action="AddBasketItem" asp-route-courseId="@Model.Id" class="btn btn-primary">Sepete Ekle</a>
                </div>
            </div>
        </div>
    </div>
</div>