@{
    ViewBag.Title = "Sepet";
}
@model BasketViewModel
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Sepet</h5>
                @if (Model != null && Model.BasketItems.Any())
                {
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Kurs Isim</th>
                            <th>Kurs Fiyat</th>
                            <th>Kurs Islemler</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model.BasketItems)
                        {
                            <tr>
                                <td>@item.CourseName</td>
                                <td>@item.GetCurrentPrice $ @(Model.HasDiscount ? $"%{Model.DiscountRate.Value} uygulandi" : "")</td>
                                <td>
                                    <a class="btn btn-danger" asp-area="" asp-controller="Baskets" asp-action="RemoveBasketItem" asp-route-courseId="@item.CourseId">Sil</a>
                                </td>
                            </tr>
                        }
                        </tbody>
                        <tfoot>
                        @if (Model.HasDiscount)
                        {
                            <tr>
                                <td>Indirim Orani</td>
                                <td colspan="2">%@Model.DiscountRate.Value</td>
                            </tr>
                        }
                        <tr>
                            <td>@(Model.HasDiscount ? "Indirimli fiyat" : "Toplam fiyat")</td>
                            <td colspan="2">@Model.TotalPrice</td>
                        </tr>
                        </tfoot>
                    </table>
                    <form asp-area="" asp-controller="Baskets" asp-action="ApplyDiscount" method="post">
                        @if (Model.HasDiscount)
                        {
                            <div class="alert alert-success">
                                "@Model.DiscountCode" indirim kodu uygulandi
                                <a asp-area="" asp-controller="Baskets" asp-action="CancelAppliedDiscount" class="btn btn-outline-danger">Iptal Et</a>
                            </div>
                        }
                        <div class="input-group mb-3">
                            <input type="text" name="DiscountApplyInput.Code" class="form-control"/>
                            <button class="btn btn-outline-secondary" type="submit">Uygula</button>
                        </div>
                        @if (TempData["discountStatus"] != null && !(bool)TempData["discountStatus"])
                        {
                            <div class="text-danger">Indirim kodu gecersiz!</div>
                        }
                        @if (TempData["discountError"] != null)
                        {
                            <div class="text-danger">@TempData["discountError"]</div>
                        }
                    </form>
                }
                else
                {
                    <div class="alert alert-info">Sepetiniz boş</div>
                }
            </div>
        </div>
    </div>
</div>